.c-rating{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;list-style:none;margin:0;padding:0}.c-rating__item{-webkit-box-flex:0;-webkit-flex:0 0 24px;-ms-flex:0 0 24px;flex:0 0 24px;height:24px;background:url(../images/stars.svg);cursor:pointer}.c-rating__item.is-active,.c-rating__item:hover{background-position:-24px 0}
.c-rating__item-red {
  -webkit-box-flex:0;-webkit-flex:0 0 24px;-ms-flex:0 0 24px;flex:0 0 24px;height:24px;background:url(../images/redstars.svg);cursor:pointer
}
.c-rating__item-red.is-active,.c-rating__item:hover{background-position:-24px 0}
.c-rating__item-green {
  -webkit-box-flex:0;-webkit-flex:0 0 24px;-ms-flex:0 0 24px;flex:0 0 24px;height:24px;background:url(../images/greenstars.svg);cursor:pointer
}
.c-rating__item-green.is-active,.c-rating__item:hover{background-position:-24px 0}