.alert-hidden{
  display: none;
}

.hidden{
  display: none;
}

.auto-scroll{
	height: 600px;	
	overflow:auto;
	#word-break: break-all;
}

.float-right {
	float: right;
}

.clear {
	clear: both;
	height: 10px;
}

.table {
	text-align: left;
    background-color: #fff;
    color: #333;
    text-shadow: none;
    padding:10px;
    #border-radius: 4px;
}

.table caption {
	font-weight: bold;
	color: #fff;
}

.table a {
    color: #333 !important;
    #float: right;
}

.c-rating {
	width: 100%;
}

.noneList {
	list-style: none;
}

.alignCenter {
	position: relative;
	left: 50%;
}

.textLeft {
	text-align: left;
}

.borderBottom {
	border-bottom: 1px solid #E5E8E8;
	padding-top: 5px;
	padding-bottom: 5px;
}

.feedbackProvider {
	font-size: 14px;
	padding: 10px;
}

.btn {
	font-size: 12px;
}