		<!DOCTYPE html>
		<html ng-app="feedbackApp">
		  <head>
		    <meta charset="utf-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1">
		    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		    <meta name="description" content="Show My Feedback - Get the popularity you or your products deserve!">
		    <meta name="author" content="Mukil Infosystems">
		    
		    <title>Show My Feedback - Get the popularity you or your products deserve!</title>

		    <!-- Bootstrap core CSS -->
		    <link href="css/bootstrap.min.css" rel="stylesheet">

		    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

		    <!-- Custom styles for this template -->
		    <link href="css/cover.css" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="css/ng-tags-input.css">
            <link href="css/styles.css" rel="stylesheet">
            <link href="css/rating.css" rel="stylesheet">

		    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		    <script src="js/ie-emulation-modes-warning.js"></script>

		    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		    <!--[if lt IE 9]>
		      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		    <![endif]-->
		  </head>

		  <body>

		        <div class="cover-container">

		          <div class="masthead clearfix" ng-controller="IndexController">
		            <div class="inner">
                        <h3 class="masthead-brand"><a href="#/">{{appName}}</a></h3>
		              <nav>
		                <ul class="nav masthead-nav">
		                  <li id="home-tab" class="{{tabs.home.active}}"><a href="#/">Home</a></li>
		                  <li id="register-tab" class="{{tabs.register.active}}"><a href="#/register">Register</a></li>
		                  <li id="login-tab" class="{{tabs.login.active}}"><a href="#/login">Login</a></li>
                          <li id="user-home-tab" class="{{tabs.userHome.active}}"><a href="#/userHome">Welcome {{tabs.userName}}</a></li>
                          <li id="seek-feedback-tab"class="{{tabs.seek.active}}"><a href="#/seekFeedback">Seek Feedback</a></li>
						  <li id="provide-feedback-tab" class="{{tabs.provide.active}}"><a href="#/provideVoluntaryFeedback">Provide Feedback</a></li>    
                          <li id="logout-tab"class="{{tabs.logout.active}}"><a href="#/login">Logout</a></li>
		                </ul>
		              </nav>
		            </div>
		          </div>
		          <!--div class="clearfix">
		          <img src="images/logo.png">
		          </div-->
                    
                    <!-- Angular JS dynamic view -->
                  <div ng-view></div>
		          

		          <div class="mastfoot">
		            <div class="inner">
		              <p>A product of <a href="http://www.mukil.uk">Mukil Infosystems</a>, contact <a href="https://twitter.com/mukilinfosys">@mukilinfosys</a>.</p>
		            </div>
		          </div>

		        </div>

		    <!-- Bootstrap core JavaScript
		    ================================================== -->
		    <!-- Placed at the end of the document so the pages load faster -->
		    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
		    <script src="js/bootstrap.min.js"></script>
		    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		    <script src="js/ie10-viewport-bug-workaround.js"></script>
            <!--Angular version v1.5.0-rc.2 -->  
            <script src="js/angular.js"></script>
            <script src="js/angular-route.js"></script>
            <script src="js/ng-tags-input.js"></script>  
            <script src="js/rating.js"></script>
						<script src="js/feedbackme.min.js"></script>            						        
            <script src="js/pwstrength-bootstrap-1.2.10.js"></script>
            <script type='text/javascript' src="js/aes.js"></script>
            <script type='text/javascript' src="js/mode-ecb.js"></script>
		  </body>
		</html>