<div class="inner cover" ng-controller="AccountSetupController">
    <h2 class="cover-heading">Welcome {{userLoggedIn.name}}</h2>	   
    <form class="form-signin" name="setupForm">
		            	<h3 class="form-signin-heading">Account Setup</h3>		            	
		            	<div class="alert alert-danger alert-hidden" role="alert" id="errorSetupAlert">
		            		{{errorObject}}
		            	</div>		            	
		                  
                        <label for="account-type" class="sr-only">How would you like to use this account?</label>
                        <select id="account-type" required class="form-control" ng-model="accountType" ng-click="selectAccountType()">
                            <option value="">How would you like to use this account?</option>
                            <option value="personal">This account is for my personal use</option>
                            <option value="organization">This account is for my organization</option>
                        </select>
		            	
                        <div ng-if="isOrg">
                        <label for="is-provider" class="sr-only">Does your organization offer any products / services?</label>
                        <!-- Here because of the above ng-if, we need to explicitely set the isProvider scope again from the selection as below-->    
                        <select id="is-provider" required class="form-control" ng-model="isProvider" ng-click="selectIsProvider(isProvider)">
                            <option value="">Does your organization offer any product or service?</option>
                            <option value="true">Yes, We offer products / services</option>
                            <option value="false">No, We don't offer any product or services</option>
                        </select>
                        </div>
                        <input type="hidden" id="setup" class="form-control" ng-model="action" >
		            	<button ng-if="isProvider==='true'" class="btn btn-lg btn-primary btn-block" type="submit" id="save-setup" ng-click="accountSetup()">Next</button>
                        <button ng-if="action === 'accountSetup' && isProvider!=='true'" class="btn btn-lg btn-primary btn-block" type="submit" id="save-setup" ng-click="accountSetup()">Complete</button>
		            </form>  
      
</div>