<div class="inner cover">
    <div class="col-md-12">
        <h1>Get the popularity you or your products deserve!</h1>
        <p class="lead textLeft">Increase the visibility and get attention using the feedback the other people give about you and/or your products.</p>
        <p class="lead textLeft">Seek the feedbacks from your customers,coleagues,managers and friends on a set of categories.</p>
        <p class="lead textLeft">Promote the received feedbacks on leading social media and let the world know about your best parts.</p>
        <p class="lead textLeft">Provide your feedback for others and their products.</p>
    </div>
    <a id="learn-more-link" href="#/learnMore" class="btn btn-primary btn-lg">Learn more</a>    
</div>