<div class="inner cover" ng-controller="HomeController">
    <div class="col-md-12">
        <h3 id="what-is-title">What is {{appName}}?</h3>
        <p class="lead textLeft">{{appName}} is an application that shows the feedback and ratings about a person, product, service or an organization.</p>
        <p class="lead textLeft">Seek the feedbacks from your customers,coleagues,managers and friends on a set of categories in 1 to 5 stars.</p>
        <p class="lead textLeft">If they provide you the feedback, it will be shown in your home page, you can use the feedbacks for marketting and promotion</p>
        <p class="lead textLeft">Provide your feedback for others and their products.</p>
    </div>
    <div class="col-md-6">
        <h3>Personal / Organizational Feedback</h3>
        <p class="lead textLeft">Once you are registered to the system, you will be classified either as a personal user or organizational user</p>
        <p class="lead textLeft">The personal user means he is using this application to get the feedback about him. It can be used to showcase his talents and capabilities to the outside world</p>
        <p class="lead textLeft">The oraganizational user means he is using this application to get feedback about his organization and products/services his organization is offering to the world.</p>        
    </div>
    <div class="col-md-6">
        <h3>Products / Services Feedback</h3>
        <p class="lead textLeft">The organozational user can seek feedback on his products and services in 1 to 5 stars</p>
        <p class="lead textLeft">The organozational user can use the feedbacks about his products/services for marketting and create the visiblility for them.</p>
        <p class="lead textLeft">Promote the received feedbacks on leading social media and let the world know about your best parts.</p>
    </div>
</div>