<div class="inner cover" ng-controller="LoginController">	            
		            <form class="form-signin" name="loginForm">
		            	<h4 class="form-signin-heading">Login</h4>
		            	<div class="alert alert-success alert-hidden" role="alert" id="activationAlert">
		            		Activation successful. Please login with your email and password
		            	</div>
		            	<div class="alert alert-danger alert-hidden" role="alert" id="errorLoginAlert">
		            		{{errorObject}}
		            	</div>		            	
		            	
		            	<label for="email" class="sr-only">Email</label>
		            	<input type="email" id="email" class="form-control" placeholder="Email" required ng-model="userLoggedIn.email">
		            	
                        <div id="login-pwd-container">
		            	         <input type="password" id="password" class="form-control" placeholder="Password" required ng-model="userLoggedIn.password_enc">
                        </div>
                        <a href="#/sendPasswordLink" class="form-control">Forgot Password?</a>
		            	<input type="hidden" id="login" class="form-control" ng-model="userLoggedIn.login" >
		            	<button class="btn btn-lg btn-primary btn-block" type="submit" id="login-button" ng-click="login()">Login</button>	
		            </form>		            
		          </div>