<div class="inner cover" ng-controller="ProductConfigController">
    <h2 class="cover-heading">Welcome {{userLoggedIn.name}}</h2>	   
    <form class="form-signin" name="configForm">
		            	<h3 id="product-config-hd" class="form-signin-heading">Products and Services</h3>		            	
		            	<div class="alert alert-danger alert-hidden" role="alert" id="errorConfigAlert">
		            		{{errorObject}}
		            	</div>		            	
		                  
                        <div ng-repeat="product in products">
                            <div>
                                <div>
                                    <span class="badge">{{$index+1}}</span>
                                    <a href class="glyphicon glyphicon-remove float-right" ng-click="removeProduct(product)"></a>
                                </div>
                                <label for="productName{{$index}}" class="sr-only">Enter the product or service name</label>
                                <input type="text" id="productName{{$index}}" class="form-control" placeholder="Enter your product or service name" required ng-model="product.name">
                                <label for="isService{{$index}}" class="sr-only">Is this a product or service?</label>
                                <select id="isService{{$index}}" required class="form-control" ng-model="product.isService" ng-click="selectProdType(product)">
                                    <option value="">Is this a product or service?</option>
                                    <option value="0">Product</option>
                                    <option value="1">Service</option>
                                </select>

                                <table class="table" ng-if="product.isService != '' && false">
                                    <caption>What are the categories on which you want to seek feedback? The list below shows the standard categories. You can customize the categories by adding and removing them.</caption>
                                    <thead>
                                        <tr>
                                            <th>Category <button type="button" class="btn btn-info glyphicon glyphicon-plus" ng-click="addCategory(product)" >New Category</button></th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="categ in product.categories">
                                            <td ng-if="!categ.isNew">{{categ.name}}</td>
                                            <td ng-if="categ.isNew"><input type="text" id="categName{{$index}}" class="form-control" placeholder="Enter new category" required ng-model="categ.name"></td>
                                            <td><a href class="glyphicon glyphicon-remove" ng-click="removeCateg(product,categ)"></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="clear"></div>
                        </div>
                        
                        <button id="new-product-btn" type="button" class="btn btn-success glyphicon glyphicon-plus float-right" ng-click="addProduct()" >New Product</button>
                        
                        <div class="clear"></div>
                        
                        <input type="hidden" id="product-setup" class="form-control" ng-model="action" >
        		        
                        <button class="btn btn-lg btn-primary btn-block" type="submit" id="cofig-prod-btn" ng-click="configProducts()">Complete</button>
                        
		            </form>  
</div>
      