<div class="inner cover">
    <h2 class="cover-heading">Thank you</h2>	   
    <form class="form-signin" name="provideForm">		            		            	
                        <div class="alert alert-success" role="alert" id="successProvideAlert">
		            		Thank you for providing your valuable feedback!
		            	</div>
        		        
                        <button class="btn btn-lg btn-primary btn-block" type="submit" id="provideFeedback" onclick="location.href='#/userHome'">Go to Home</button>
                        
		            </form>  
</div>