<div class="inner cover" ng-controller="ProvideFeedbackController">
    <h2 class="cover-heading">Welcome {{provider}}</h2>	   
    <form class="form-signin" name="provideForm">
		            	<h3 class="form-signin-heading">Please provide your feedback on {{provideFeedbackForm.seekDetails.productName}}</h3>		            	
		            	<div class="alert alert-danger alert-hidden" role="alert" id="errorProvideAlert">
		            		{{errorObject}}
		            	</div>
                        <div class="alert alert-success alert-hidden" role="alert" id="successProvideAlert">
		            		Your feedback has been sent successfully!
		            	</div>
        
                        <table class="table">
                            <caption>Please provide your feedback on the below categories in 1 to 5 scale, where 1 star is the worst and 5 star is the best</caption>
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th class="col-md-3 col-sm-3 col-xs-6"><a>Rating</a></th>
                                    <th><a>Reason for rating</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="categ in provideFeedbackForm.feedbackCategs">
                                    <td >{{categ.name}}</td>
                                    <td class="col-md-3 col-sm-3 col-xs-6">
                                        <feedbackme-rating feedbackcateg="categ"></feedbackme-rating>
                                    </td>
                                    <td ><input type="text" id="categName{{$index}}" class="form-control" placeholder="Optionally you can enter the reason for your rating"  ng-model="categ.reason"></td>
                                </tr>
                            </tbody>
                        </table>
        
                        <input type="text" id="overallFeedback" class="form-control" ng-model="provideFeedbackForm.overallFeedback" placeholder="Your overall comments about {{provideFeedbackForm.seekDetails.productName}}">
        
                        <div class="clear"></div>
                        
                        <input type="hidden" id="provideFeedbackAction" class="form-control" ng-model="action" >
        		        
                        <button class="btn btn-lg btn-primary btn-block" type="submit" id="provideFeedback" ng-click="provideFeedback()">Complete</button>
                        
		            </form>  
</div>