<div class="inner cover" ng-controller="ProvideVoluntaryFeedbackController">
    <form class="form-signin" name="provideForm">
		            	<h3 class="form-signin-heading">Please provide your feedback below</h3>		            	
		            	<div class="alert alert-danger alert-hidden" role="alert" id="errorProvideAlert">
		            		{{errorObject}}
		            	</div>
                        <div class="alert alert-success alert-hidden" role="alert" id="successProvideAlert">
		            		Your feedback has been sent successfully!
		            	</div>

                        <label for="feedbackTargetType" class="sr-only">Which target would you like to provide the feedback on?</label>
                        <select id="feedbackTargetType" required class="form-control" ng-model="provideVolFeedbackForm.targetType"" ng-click="selectTargetType()">
                            <option value="">Which target would you like to provide the feedback on?</option>
                            <option ng-repeat="option in provideVolFeedbackForm.targetOptions" value="{{option.value}}">{{option.description}}</option>
                        </select>

                        <label for="targetOrg" class="sr-only">Which organization would you like to provide the feedback On?</label>
                        <select id="targetOrg" required class="form-control" ng-model="provideVolFeedbackForm.targetOrg" ng-click="fetchProducts()">
                            <option value="">Which organization would you like to provide the feedback On?</option>
                            <option ng-repeat="option in provideVolFeedbackForm.organisations" value="{{option.userId}}">{{option.name}}</option>
                        </select>
                        
                        <div ng-if="provideVolFeedbackForm.isProductOrService">
                            <label for="targetProduct" class="sr-only">Which product / Service would you like to provide the feedback on?</label>
                            <select id="targetProduct" required class="form-control" ng-model="provideVolFeedbackForm.targetProduct">
                                <option value="">Which product / Service would you like to provide the feedback on?</option>
                                <option ng-repeat="option in provideVolFeedbackForm.products" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>
        
                        <table class="table">
                            <caption>Please provide your feedback on the below categories in 1 to 5 scale, where 1 star is the worst and 5 star is the best</caption>
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th class="col-md-3 col-sm-3 col-xs-6"><a>Rating</a></th>
                                    <th><a>Reason for rating</a></th>
                                    <th><a>Remove</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="categ in provideVolFeedbackForm.feedbackCategs">
                                    <td ng-if="!categ.isNew">{{categ.name}}</td>
                                    <td ng-if="categ.isNew"><input type="text" required id="categName{{$index}}" class="form-control" placeholder="Enter the category description"  ng-model="categ.name"></td>
                                    <td class="col-md-3 col-sm-3 col-xs-6">
                                        <feedbackme-rating feedbackcateg="categ"></feedbackme-rating>
                                    </td>
                                    <td ><input type="text" id="categReason{{$index}}" class="form-control" placeholder="Optionally you can enter the reason for your rating"  ng-model="categ.reason"></td>
                                    <td><a href class="glyphicon glyphicon-remove" ng-click="removeCateg(categ)"></a></td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="button" class="btn btn-info glyphicon glyphicon-plus float-right" ng-click="addCategory()" >New Category</button>
                        
                        <div class="clear"></div>
        
                        <input type="text" id="overallFeedback" class="form-control" ng-model="provideVolFeedbackForm.overallFeedback" placeholder="Your overall comments">
        
                        <div class="clear"></div>
                        
                        <input type="hidden" id="provideFeedbackAction" class="form-control" ng-model="action" >
        		        
                        <button class="btn btn-lg btn-primary btn-block" type="submit" id="provideFeedback" ng-click="provideFeedback()">Complete</button>
                        
		            </form>  
</div>