<ul class='c-rating'>
    <li data-index='0' class='c-rating__item' ng-click='starClick(0)'></li>
    <li data-index='1' class='c-rating__item' ng-click='starClick(1)'></li>
    <li data-index='2' class='c-rating__item' ng-click='starClick(2)'></li>
    <li data-index='3' class='c-rating__item' ng-click='starClick(3)'></li>
    <li data-index='4' class='c-rating__item' ng-click='starClick(4)'></li>
</ul>