<div class="inner cover" ng-controller="UserRegistrationController">	            
		            <form class="form-signin" name="userForm">
		            	<h2 class="form-signin-heading">Register</h2>
		            	<div class="alert alert-danger alert-hidden" role="alert" id="emailAlert">
		            		Email or Mobile number is mandatory
		            	</div>
                        <div class="alert alert-danger alert-hidden" role="alert" id="password-strength-alert">
		            		Password must be strong
		            	</div>                        
		            	<div class="alert alert-danger alert-hidden" role="alert" id="passwordAlert">
		            		Passwords must match
		            	</div>
		            	<div class="alert alert-danger alert-hidden" role="alert" id="termsAlert">
		            		You must agree to the terms and conditions
		            	</div>
		            	<div class="alert alert-danger alert-hidden" role="alert" id="errorRegistrationAlert">
		            		{{errorObject}}
		            	</div>		            	
		            	<label for="user-name" class="sr-only">Name</label>
		            	<input type="text" id="user-name" class="form-control" placeholder="Name of the Person or Organization" required ng-model="user.userName">
		            	<label for="email" class="sr-only">Email</label>
		            	<input type="email" id="email" class="form-control" placeholder="Email" required ng-model="user.email">
		            	<label for="mobile" class="sr-only">Mobile Number</label>
		            	<input type="number" id="mobile" class="form-control" placeholder="Mobile Number" ng-model="user.mobile">
                        <div id="pwd-container">
		            	         <input type="password" id="password" class="form-control" placeholder="Create Password" required ng-model="user.password_enc">
                                <div class="pwstrength_viewport_progress form-control"></div>
                        </div>
		            	<label for="retype-password" class="sr-only">Retype Password</label>
		            	<input type="password" id="retype-password" class="form-control" placeholder="Retype Password" required>
		            	<input type="hidden" id="register" class="form-control" ng-model="user.register" >
                        <div class="checkbox">
		            		<label>
		            			<input type="checkbox" id="terms-agreed" value="true" required ng-model="user.termsAgreed">I agree the <a href="#/terms">Terms and Conditions and Privacy Policy</a>
		            		</label>
		            	</div>                        
		            	<button class="btn btn-lg btn-primary btn-block" type="submit" id="register-button" ng-click="register()">Register</button>	
		            </form>		            
		          </div>