<div class="inner cover">	            
		      	            <h1 id="register-success-title" class="form-signin-heading">Thanks for registering with us!</h1>
		      	            <p class="lead">Please check your email to activate your account</p>			      	            		            
		      	          </div>