<div class="inner cover" ng-controller="LoginController">
    <h4 class="cover-heading">Reset Password</h4>	   
    <form class="form-signin" name="passwordForm">		            		            	
                        <div class="alert alert-danger alert-hidden" role="alert" id="errorResetAlert">
		            		{{errorObject}}
		            	</div>
                        <div class="alert alert-danger alert-hidden" role="alert" id="password-strength-alert">
		            		Password must be strong
		            	</div>                        
		            	<div class="alert alert-danger alert-hidden" role="alert" id="passwordAlert">
		            		Passwords must match
		            	</div>
                        <div class="alert alert-success alert-hidden" role="alert" id="successResetCompleteAlert">
		            		Your password has been reset successfully. Please login with your new password!
		            	</div>
                        
                        <div id="resetDiv">
                            <p>Please create a new password</p>
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Email" readonly required ng-model="resetForm.email">
                            <div id="pwd-container">
		            	         <input type="password" id="password" class="form-control" placeholder="Create Password" required ng-model="resetForm.password_enc">
                                <div class="pwstrength_viewport_progress form-control"></div>
                            </div>
                            <label for="retype-password" class="sr-only">Retype Password</label>
                            <input type="password" id="retype-password" class="form-control" placeholder="Retype Password" required>
                            <button class="btn btn-lg btn-primary btn-block" type="submit" id="resetPassword" ng-click="resetPassword()">Reset Password</button>
                        </div>
		            </form>  
</div>