<div class="inner cover" ng-controller="SeekFeedbackController">
    <form class="form-signin" name="seekForm">
		            	<h4 class="form-signin-heading">Seek Feedback</h4>		            	
		            	<div class="alert alert-danger alert-hidden" role="alert" id="errorSeekAlert">
		            		{{errorObject}}
		            	</div>
                        <div class="alert alert-success alert-hidden" role="alert" id="successSeekAlert">
		            		Your feedback request has been sent successfully!
		            	</div>
		                  
                        <label for="feedbackTarget" class="sr-only">On what target would you like to seek the feedback?</label>
                        <select id="feedbackTarget" required class="form-control" ng-model="seekFeedbackForm.target" ng-click="selectTarget()">
                            <option value="">On what target would you like to seek the feedback?</option>
                            <option ng-repeat="option in seekFeedbackForm.targetOptions" value="{{option.value}}">{{option.description}}</option>
                        </select>
        
                        <div ng-if="isProduct">
                        <label for="product" class="sr-only">select your product / service</label>
                        <!-- Here because of the above ng-if, we need to explicitely set the isProvider scope again from the selection as below-->    
                        <select id="product" required class="form-control" ng-model="seekFeedbackForm.product" ng-click="selectProduct()">
                            <option value="">select your product / service</option>
                            <option ng-repeat="product in seekFeedbackForm.products" value="{{product}}">{{product.name}}</option>
                        </select>
                        </div>

                        <label for="audience" class="sr-only">Who do you want to seek feedback from?</label>
                        <tags-input id="audience" placeholder="Who do you want to seek feedback from? Enter the email addressess" ng-model="seekFeedbackForm.audience">
                            <auto-complete source="loadUsers($query)"></auto-complete>
                        </tags-input>
        
                        <table class="table">
                            <caption>What are the categories on which you want to seek feedback? The list below shows the standard categories. You can customize the categories by adding and removing them.</caption>
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th><a>Remove</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="categ in stdCategs">
                                    <td ng-if="!categ.isNew">{{categ.name}}</td>
                                    <td ng-if="categ.isNew"><input type="text" id="categName{{$index}}" class="form-control" placeholder="Enter new category" required ng-model="categ.name"></td>
                                    <td><a href class="glyphicon glyphicon-remove" ng-click="removeCateg(categ)"></a></td>
                                </tr>
                            </tbody>
                        </table>
        
                        <button type="button" class="btn btn-info glyphicon glyphicon-plus float-right" ng-click="addCategory()" >New Category</button>
                        
                        <div class="clear"></div>
                        
                        <input type="hidden" id="seekFeedbackAction" class="form-control" ng-model="action" >
        		        
                        <button class="btn btn-lg btn-primary btn-block" type="submit" id="seekFeedback" ng-click="seekFeedback()">Complete</button>
                        
		            </form>  
</div>