<div class="inner cover" ng-controller="LoginController">
    <h4 class="cover-heading">Reset Password</h4>	   
    <form class="form-signin" name="passwordForm">		            		            	
                        <div class="alert alert-success alert-hidden" role="alert" id="successResetAlert">
		            		We have sent you an email to reset your password! Please check your email.
		            	</div>
                        <div class="alert alert-danger alert-hidden" role="alert" id="errorResetAlert">
		            		{{errorObject}}
		            	</div>                        
        
                        <div id="sendLinkDiv">
                            <p>Please Enter your email address. We will send you a link to reset your password.</p>
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" id="email" class="form-control" placeholder="Email" required ng-model="resetForm.email">

                            <button class="btn btn-lg btn-primary btn-block" type="submit" id="resetPassword" ng-click="sendPasswordLink()">Reset Password</button>
                        </div>                        
		            </form>  
</div>