<div class="inner cover" ng-controller="HomeController">
    <h3>Terms &amp; Conditions and Privacy Policy </h3>
    <div class="table">
        <h4>Terms of use</h4>
        <p>Access to this Website is subject to the following terms of use. Please take the time to read through these before continuing to use the Website.

        On accessing this Website you will be deemed to have accepted all of the terms of use that apply to its use and to the facilities and services provided by it. We reserve the right to alter these terms of use at any time and it is your obligation to check if changes have been made. Your use of the Website after changes are posted on-line shall constitute acceptance of the new terms of use.

        In these terms of use: "we/us/our" means Mukil Infosystems; "Website" means the {{appName}} website; "you"/"your" means the user of this Website.</p>
        
        <h4>Access to website</h4>
        <p>Access to our Website is on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our Website without notice. We will not be liable if for any reason our site is unavailable at any time or for any period.

        From time to time, we may restrict access to some parts of our Website, or our entire Website, to users who have registered with us.</p>
        
        <h4>Content</h4>
        <p>The pages contained in the Website may contain inaccuracies and typographical errors. The information in these pages may be updated from time to time and may at times be out of date. We accept no responsibility for keeping the information in these pages up to date or liability for any failure to do so.

        The information contained in the Website is only for information purposes. The material on the Website does not constitute advice and you should not rely on the theser materials to take any decision or take any action.

        The Website contains information and feedback given by the users of this website and third parties that are completely their own opinions. We are not liable for any illegality arising from such information and feedback.</p>
        
        <h4>Copyright and Trademarks</h4>
        <p>All rights, including copyright, in the content of these web pages and in the images displayed on the Website from time to time and all database rights in our database of feedbacks, are owned or controlled for these purposes by us.

        All trade marks, names, and logos are the proprietary marks of us or of our associated companies. Marks identifying third parties are owned or licensed by those third parties or their associated companies. Nothing in these terms of use in any way confers on you any licence or right under any trade marks, names or logos.

        We are not liable for any failure to perform any of our obligations under these terms of use caused by matters beyond our reasonable control.

        Except as expressly permitted by these terms of use, you may not copy, reproduce, redistribute, download, republish, transmit, display, adapt, alter, create derivative works from or otherwise extract or re-utilise any of the contents of the Website. In particular, you must not cache any of the contents for access by third parties nor mirror or frame any of the content of the Website nor incorporate it into another website without our express written permission.</p>
        
        <h4>Liability</h4>
        <p>The information displayed on our Website is provided without any guarantees, conditions or warranties as to its accuracy. We are not liable for any loss of income or revenue,loss of business,loss of profits or contracts,loss of goodwill etc. by using this website</p>
        
        <h4>Privacy Policy</h4>
        <p>We are committed to protecting your privacy. This policy explains the basis on which any personal data is collected through this website and how the personal data is processed and used by us. By using this website you will be deemed to have accepted this policy and agreed to use your personal data for the pusposes mentioned in this policy</p>
        <h5>Data collected and what for it is used</h5>
        <p>As part of the registration or getting feedback from you, we may collect your name,email address and mobile number. This website is for letting others know about your feeback and opinion on a subject so your name will be always visible on our website. Your email address also visible on the website where the feedback is sought by another user and you are responding to it. We will use your mobile number for authenticating your credentials to use our website and we will not reveal the mobile number on our website or to any other third party</p>
        <p>We may use your name,feedback and opinion to promote a subject on any of the third party websites and for this purpose we may pass these details to any third party websites. However we will not pass or reveal the details of your email address and mobile number to any such activites.</p>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="goHome" onclick="location.href='#/'">Go to Home Page</button>
</div>