<div class="inner cover" ng-controller="UserHomeController">
    
<div>
  <!-- Nav tabs -->
  <ul id="feed-tabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" id="person-tab" class="active"><a href="#person" aria-controls="person" role="tab" data-toggle="tab">Feedback on User</a></li>
    <li role="presentation" id="products-tab"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">Feedback on Products</a></li>   
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="person">
        <h4>Feedback on you</h4>        
        <div class="auto-scroll">
            <div class="table" ng-repeat="feedback in userHomeForm.feedbacks">
                <span class="feedbackProvider"><strong>{{feedback.providerName}}</strong> has given a feedback on you on {{feedback.feedbackDate}}</span>                
                <ul class="noneList">                    
                    <li class="borderBottom" ng-repeat="categ in feedback.feedbackCategories.feedbackCategs">
                        <strong>{{categ.name}}</strong>                      
                            <feedbackme-rating feedbackcateg="categ" readonly="true"></feedbackme-rating>
                        {{categ.reason}}
                    </li>
                    <li ng-show="feedback.comment">
                        <strong>Overall Comments</strong>
                        <br />
                        <span>{{feedback.comment}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="products">
        <h4>Feedback on your products and services</h4>        
        <div class="auto-scroll">
            <div class="table" ng-repeat="feedback in userHomeForm.productFeedbacks">
                <span class="feedbackProvider"><strong>{{feedback.providerName}}</strong> has given a feedback on your product <strong>{{feedback.productName}}</strong> on {{feedback.feedbackDate}}</span>                
                <ul class="noneList">                    
                    <li class="borderBottom" ng-repeat="categ in feedback.feedbackCategories.feedbackCategs">
                        <strong>{{categ.name}}</strong>                      
                            <feedbackme-rating feedbackcateg="categ" readonly="true"></feedbackme-rating>
                        {{categ.reason}}
                    </li>
                    <li ng-show="feedback.comment">
                        <strong>Overall Comments</strong>
                        <br />
                        <span>{{feedback.comment}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>

</div>
      
      
</div>